body, html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica', san-serif;
  font-family: 'Mukta Mahee', sans-serif;
}

.menu {
  background-color: #333;
  color: white;
  position: relative;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu ul {
  list-style-type: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 0;
  float: right;
  margin-top: 20px;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  padding: 3px 10px;
  margin: 0 10px;
  display: inline-block;
  transition: all 0.3s ease-out;
  border-color: white;
  font-weight: 300;
}

.menu a:hover {
  border-bottom: 4px solid white;
}

.header {
  background: #00b09b;
  background: linear-gradient(to right, #00b09b, #96c93d);
  color: #333;
  padding: 80px 25px 150px;
  font-weight: 300;
  line-height: 150px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  border-top: 13px solid #333;
}

.header h1 {
  max-width: 1100px;
  margin: 0 auto;
  color: white;
  font-size: 60px;
}

.header h2 {
  max-width: 1100px;
  margin: 0 auto;
  color: white;
}

.header strong {
  font-family: 'Satisfy', sans-serif;
  font-weight: 400;
  font-size: 100px;
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.diagonal {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  width: 110%;
  left: -5%;
  height: 100px;
  background: #fff;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.content {
  background-color: white;
  color: #333;
  line-height: 18px;
  padding: 20px 0;
}

.content.about {
  padding-top: 0;
  z-index: 1;
  position: relative;
  padding-bottom: 40px;
}

.content.about h3 {
  margin-top: 0;
}

.content p {
  line-height: 28px;
}

.content h3 {
  color: #333;
  font-size: 36px;
}

.content h4 {
  color: #333;
  font-size: 24px;
}

.content.grey {
  background-color: #f5f5f5;
}

.content.grey h3 {
  color: #333;
  border-left: none;
}

.work-item {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}

.work-item-preview {
  flex: 0 0 200px;
}

.work-item-preview .cover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  font-size: 20px;
}

.work-item .work-item-preview:hover .cover {
  display: block;
  padding-top: 100px;
  border-radius: 10px;
}

.work-item .work-item-preview {
  position: relative;
  display: block;
}

.work-item .work-item-preview-helper {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}

.work-item .work-item-preview img {
  width: 100%;
  height: auto;
}

.work-item .work-item-description {
  flex: 1;
  padding-left: 40px;
}

.work-item.align-right .work-item-description {
  padding-left: 0;
  padding-right: 40px;
}

.work-item-description em {
  color: #999;
  float: right;
}

.work-item-description h4 {
  font-family: 'Slabo 27px', san-serif;
  font-size: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}

.tag {
  display: inline-block;
  background-color: #00b09b;
  color: white;
  border-radius: 10px;
  font-weight: lighter;
  font-family: 'Slabo 27px', san-serif;
  font-size: 22px;
  padding: 10px 15px 8px;
  margin-bottom: 10px;
  margin-right: 10px;
}


@media (max-width: 825px) {

  .menu .container, .header .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu ul {
    float: none;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0;
  }

  .menu a {
    font-size: 16px;
    margin: 0 0;
  }

  .header {
    line-height: 50px;
    padding: 50px 15px 45px;
  }

  .header h1 {
    font-size: 35px;
    text-align: center;
  }

  .header h1 strong {
    font-size: 60px;
    top: 2px;
  }

  .content h3 {
    font-size: 26px;
  }

  .tag {
    font-size: 16px;
  }

  .diagonal {
    display: none;
  }

  .content.about h3 {
    margin-top: 30px;
  }

}

@media (max-width: 750px) {

  .header h1 {
    font-size: 25px;
    text-align: center;
  }

  .header h1 strong {
    font-size: 45px;
    top: 2px;
  }

  .work-item {
    display: block;
  }

  .work-item-preview {
    width: 100%;
  }

  .work-item-preview .work-item-preview-helper {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
  }

  .work-item-preview .work-item-preview-helper img {
    position: relative;
    top: -50px;
  }

  .work-item .work-item-description {
    width: 100%;
    padding-left: 0px;
  }

}