body {
  margin: 0;
  font-family: 'Helvetica', san-serif;
}

.menu {
  background-color: #333;
  color: white;
}

.menu ul {
  list-style-type: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.header {
  background-color: #FCF75E;
  color: #333;
  padding: 163px 0;
  font-size: 100px;
  font-weight: bold;
}

.header h1 {
  max-width: 1100px;
  margin: 0 auto;
}

.header h2 {
  max-width: 1100px;
  margin: 0 auto;
}

.content {
  background-color: white;
  color: #333;
  line-height: 18px;
}
